<div class="searchBar">
    <div class="container">
        <form action="/search" class="searchForm" method="POST">
            <input type="text" name="search" class="searchInput" placeholder="Search the website...">
            <button type="submit" class="searchButton">Search</button>
        </form>
    </div>
</div>