<div class="searchBar">
    <div class="searchContainer">
        <form action="/search" class="searchForm">
            <input type="search" name="searchTerm" id="searchInput" placeholder="Search the website...">
        </form>
    </div>
</div>