<div class="createContainer">
    <form action="/add-post" method="POST">
        <div class="createTitle">
            <label for="titleCreate">Title</label>
            <input type="text" id="titleCreate" name="titleCreate" placeholder="Post Title">
        </div>
        <div class="createContent">
            <label for="contentCreate">Content</label>
            <textarea name="contentCreate" cols="50" rows="10"></textarea>
        </div>
        <input type="submit" value="Add" class="createBtn">
    </form>
</div>
