<div class="loginContainer">
    <form action="/login" method="POST" class="loginForm">
        <label for="email" class="loginLabel">Email</label>
        <input type="email" name="email" id="email" class="loginInput" required>
        <label for="password" class="loginLabel">Password</label>
        <input type="password" name="password" id="password" class="loginInput" required>
        <button type="submit" class="loginSubmit">Login</button>
    </form>
    <p class="loginText">Don't have an account? <a href="/register" class="loginLink">Register</a></p>
</div>