@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.container{
    background-color: #FAF5EE;
    min-height: 100vh;
    overflow: auto;
    position: relative;
}

.header{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.logo{
    font-weight: bold;
    font-size: 22px;
}

.header a{
    text-decoration: none;
}

.header nav{
    width: 20%;
}

.header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.searchBar{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.searchContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

.searchContainer input{
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 500px;
}

.searchButton{
    background-color: #FAF5EE;
    font-size: 16px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.searchBtn{
    background-color: #FAF5EE;
    border: none;
    font-size: 16px;
}

.author{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.imageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.imageContainer .authorImage{
    border-radius: 10px;
    box-shadow: 12px 12px 12px 11px rgb(0 0 0 / 20%);
    height: 528px;
}

/*Article list*/

.articles{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.articleUl{
    list-style: none;
    max-width: 982px;
    display: flex;
    flex-direction: column;
}

.articleUl li{
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    background-color: #FAF5EE;
}

.articleUl li a {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center align items vertically if needed */ /* Remove underline from links */
}

/* .articleUl li:hover {
    filter: none;
} */
  
.articleUl:hover li {
    filter: blur(3px);
}
  
.articleUl:hover li:hover {
    filter: none;
}

.articleUl a{
    text-decoration: none;
}

.pagination{
    text-decoration: none;
    margin-top: 20px;
    color: grey;
}

.pagination:hover{
    color: black;
}

.postContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.postContent p{
    max-width: 80%;
    font-size: 20px;
    margin-top: 10px;
}

.footer{
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, 0);
}