@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: black;
}

body{
    background-color: #FAF5EE;
}

input:focus, 
select:focus, 
button:focus {
    outline: none;
}
input[type="text"], 
textarea {
    outline: none;
    border: 1px solid white; /* Add a subtle border */
}

input[type="text"]:focus,
textarea:focus {
    outline: none;
    border: 1px solid white; /* Optionally change border color on focus */
}


.loginBody{
    background-color: white;
}

.container{
    min-height: 100vh;
    position: relative;
}

.header{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.logo{
    font-weight: bold;
    font-size: 22px;
}

.header a{
    text-decoration: none;
}

.header nav{
    width: 20%;
}

.header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.searchBar{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.searchContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

.searchContainer input{
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 500px;
}

.loginButton{
    background-color: #FAF5EE;
    font-size: 16px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}

.searchBtn{
    background-color: #FAF5EE;
    border: none;
    font-size: 16px;
}

.author{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.imageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.imageContainer .authorImage{
    border-radius: 10px;
    box-shadow: 12px 12px 12px 11px rgb(0 0 0 / 20%);
    height: 528px;
}

.createBlogs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.blogContainer {
    border-style: dotted;
    border-width: 2px; /* Adjust the border width as needed */
    border-color: #000000; /* Set the border color */
    border-radius: 5px;
    width: 200px;
    text-align: center;
    cursor: pointer;
  }

  .createBlogButton{
    text-decoration: none;
  }
/*Article list*/

.articles{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.articleUl{
    list-style: none;
    max-width: 982px;
    display: flex;
    flex-direction: column;
}

.articleUl li{
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    background-color: white;
}

.articleUl li a {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center align items vertically if needed */ /* Remove underline from links */
}
  
.articleUl:hover li {
    filter: blur(3px);
}
  
.articleUl:hover li:hover {
    filter: none;
}

.articleUl a{
    text-decoration: none;
}

.pagination{
    text-decoration: none;
    margin-top: 20px;
    color: grey;
}

.pagination:hover{
    color: black;
}

.postContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.postContent p{
    max-width: 80%;
    font-size: 20px;
    margin-top: 10px;
}

.loginContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 90vh;
}

.loginForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    padding: 50px;
    background-color: #FAF5EE;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

.loginForm input{
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: white;
}

.loginSubmit{
    background-color: white;
    color: black;
    border-radius: 10px;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

.loginText{
    margin-top: 20px;
}

.createContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.createTitle , .createContent{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    width: 500px;
    border-radius: 10px;
    outline: none;
}
.createTitle input{
    border-radius: 5px;
    padding: 10px;
}

.createContent textarea{
    border-radius: 5px;
}

.createBtn{
    color: white;
    background-color: black;
    border: none;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

.footer{
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, 0);
}